/* Variables */

// Color Variables
$color-primary: #343843;//主题颜色
$color-secondary: #4f6584;//次要颜色
$color-ornament: #01c5e8;//点缀颜色

// Button Variables
$button-color-primary: $color-secondary;
$button-color-primary-hover: #505666;
$button-color-secondary: #505666;
$button-color-secondary-hover: #282b33;
$button-color-cancle: #edeef2;
$button-color-cancle-hover: #e0e3ed;

// Background Variables
$background-color-primary: #edeef2;
$background-color-secondary: #e0e3ed;

// Border Variables
$border-color-primary: $background-color-primary;

// Text Variables
$text-color-primary: #222;//主要文本
$text-color-tip: #808080;//提示
$text-color-placeholder: #b3b3b3;//输入框默认提示文字
$text-color-highlighted: $color-secondary;//突出显示性文字
$text-color-error: #ff3333;//错误提示



/* Styles */
body {
    margin: 0;
    font: 14px "Heiti SC", "Helvetica  Neue", Arial, "Microsoft YaHei", "微软雅黑", "STHeiti", SimSun, sans-serif;
    color: $text-color-primary;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background-color: $background-color-primary;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;

    &:hover,&:visited,a:focus{
        text-decoration: none;
    }
}

.btn{
    min-width: 100px;
    line-height: 1.8;
    border: none;
    font-size: 16px;
    outline: none;
    &:focus{
        outline: none;
    }
}

