@import 'common';


header{
  position: relative;
  height: 80px;
  min-width: 1380px;
  overflow-x: scroll;
  font-size: 20px;
  color: white;
  background-color: $color-primary;


  .vertical-middile{
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  .logo{

    display: inline-block;
    height: 100%;
    width: 180px;
    background-color: $color-ornament;
    font-size: 14px;

    img{
      @extend .vertical-middile;
      display: inline-block;
      height: 60px;
      width: 60px;
      vertical-align: middle;
      margin-left: 10px;
      box-shadow: 0 0 5px #166270;
      border-radius: 8px;
    }

    .slogan{
      @extend .vertical-middile;
      display: inline-block;
      margin-left: 10px;
      line-height: 20px;
      height: 40px;
      left: 70px;
    }

  }

  .balance{
    @extend .vertical-middile;
    display: inline-block;
    margin-left: 30px;
    line-height: 40px;
    height: 40px;
    background-color: #282b33;
    font-size: 16px;
    color: #fff;
    padding: 0 10px;
  }

  .adviser{
    @extend .vertical-middile;
    right: 210px;
  }



  .button{
    display: inline-block;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background-color: $button-color-secondary;
    cursor: pointer;

    &:hover{
      background-color: $button-color-secondary-hover;
    }
  }

  .login-out{
    @extend .vertical-middile;
    right: 100px;
    padding: 0 10px;
    border-radius: 4px;
  }
}


.body{
  min-width: 1380px;
  overflow-x: scroll;
  position: relative;
}


.main{
  display: inline-block;
  height: calc(100vh - 80px);
  width: calc(100vw - 180px);
  min-width: 1200px;
  overflow-y: scroll;
  margin-left: 180px;

  .main-inner{
    margin-right: 10%;
  }
}

.navigator{
  position: absolute;
  top:0;
  left: 0;
  display: inline-block;
  height: calc(100vh - 80px);
  width: 180px;
  background-color: $color-primary;
  font-size: 16px;
  color: #fff;
  padding-top: 10px;

  ul{
    padding-left: 0;

    li{

      a{
        display: inline-block;
        line-height: 50px;
        color: #aaacb2;
        width: 100%;
        text-decoration: none;
        padding-left: 40px;
      }

    }
  }

  .button{
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 180px;

    a{
      background-color: $button-color-secondary;

      &:hover{
        background-color: $button-color-primary;
      }

      &:focus{
        color: #fff;
        text-decoration: none;
      }
    }

  }

}