.active {
  color: green;
}

header{
  line-height: 60px;
  background-color: gray;
  font-size: 20px;
  color: white;
}

.main{
  min-height: 100%;
  float: left;
  width: 100%;

}

.main-inner{
  margin-left: 220px;
}

.left{
  background-color: gray;
  min-height: 100%;
  width: 220px;
  float: left;
  margin-left: -100%;
}