@import './common';





header{
  min-width: 1200px;
  min-height: 80px;
  font-size: 20px;
  color: white;
  background-color: $color-primary;

  &:before{
    content: ' ';
    vertical-align: middle;
    height: 100%;
  }

  .logo{
    display: inline-block;
    height: 80px;
    background-color: $color-ornament;
    width: 180px;
    font-size: 14px;
    line-height: 80px;

    &:before{
      content: ' ';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    img{
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      box-shadow: 0 0 5px #166270;
      border-radius: 4px;
    }

    .slogan{
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      line-height: 24px;
    }

  }

  .balance{
    display: inline-block;
    margin-left: 30px;
    line-height: 40px;
    background-color: #282b33;
    font-size: 16px;
    color: #fff;
    padding: 0 10px;
    vertical-align: middle;
  }

  .button{
    display: inline-block;
    float: right;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    background-color: $button-color-secondary;
    cursor: pointer;
    vertical-align: middle;

    &:hover{
      background-color: $button-color-secondary-hover;
    }
  }

  .adviser{
    background: $button-color-secondary url("/logo.png") no-repeat 0 center;
    background-size: 40px;
    margin-right: 20px;
    border-radius: 4px;
    position: relative;
    top: 20px;
    padding-left: 40px;

    .name{
      padding: 0 10px;
    }
  }

  .login-out{
    padding: 0 10px;
    margin-right: 60px;
    border-radius: 4px;
    position: relative;
    top: 20px;
  }
}





.main{
  min-height: calc(100vh - 80px);
  float: left;
  width: 100%;

  .main-inner{
    margin-left: 180px;
    max-width: 80%;
    min-width: 1200px;
  }
}




.navigator{
  background-color: $color-primary;
  min-height: calc(100vh - 80px);
  width: 180px;
  float: left;
  margin-left: -100%;
  font-size: 16px;
  color: #fff;
  padding-top: 10px;

  ul{
    padding-left: 0;

    li{

      a{
        display: inline-block;
        line-height: 50px;
        color: #aaacb2;
        width: 100%;
        text-decoration: none;
        padding-left: 40px;
      }

      a.active {
        color: #fff;
        background-color: $button-color-primary-hover;
        border-left: 4px $color-ornament solid;
        padding-left: 36px;
      }
    }
  }



}